body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glasses {
  opacity: 0.8;
}
.bg-dark{
  opacity: 0.5;
}
.model{
  height: 300px;
  width: auto;
}
.content  img{

  width: 100px;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: contain;

}
/* .object img{
  width: 130px;
  height: auto;  
} */

.image-container  {
  position: relative;
  z-index: 2;
}
.image-container .glasses{
  width: 130px;
  height: auto;
  position: absolute;
  top: 78px;
  left: 58px;
  z-index: 2;
}
.image-container .glassesDetail{
  position: absolute;
  bottom: 0;
  left: 10;
  z-index:2;
  opacity: 0.6;
  font-size: 0.8rem;
}
